.navbar{
    position: absolute;
    top: 0;
    padding: 30px;
    z-index: 1;
    width: 100%;
   
}
.nav_contents{
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    top:10px;
    height: 70px;
    width:80px;
    position: fixed;
    cursor: pointer;
    left: 0;
    padding-left: 20px;
    object-fit: contain;
}

.nav_avatar {
    position: fixed;
    right:20px;
    top : 20px;
    width: 30px;
    right:20px;
    cursor: pointer;
}

/* .nav_black{
  background-color: black;
}  */